.title1{
    background-color: aqua !important;
    color: blue;
    text-align: center;
    display: block; /* display:inline*/
}

#title2{
    background-color: bisque;
    color: blueviolet;
}

/* h1{
    background-color: navy;
    color: white;
} */

/* *{
    background-color: blueviolet;
    color: white;
    font-family: verdana !important;
} */

#para{
    font-family: Verdana;
    color: bisque;
}

a:visited{
    color: aqua;
}

a:active{
    color: red;
    font-size: xx-large;
}

a:link
{
    color:black
}

a:hover{
    color:hotpink
}

button:hover{
    box-shadow: 1px 1px 1px 1px;
    cursor: pointer;
}

button:active{
    background-color: aquamarine;
}

table{
    border-collapse: collapse;
}

td,th{
    border: 1px solid black;
    width: 100px;
    height: 50px;
    text-align: center;
}

th{
    background-color: grey;
}

tr:nth-child(even)
{
  background-color: grey;  
}


tr:hover{
    background-color: antiquewhite;
}

/* div>p{
    color: blue;
} */

.wrapper{
    background-color: #5793f2;
    color: white;
    border: 20px solid black;
    border-radius: 50px;
    /* margin: 100px; */
    /* margin-left:50px;
    margin-top: 50px; */
    /* margin: 50px 100px;  like length x breadth*/
     /* Shorthand --> TRBL */
    margin: 50px 100px 50px 100px;
    padding: 50px 100px 25px 50px;
}

.profile-pic{
    width: 50px;
    height: 50px;
    border: 1px solid blue;
    border-radius: 50%;
}

.profile-wrapper{
    text-align: center;
}

.grand-parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: yellow;
    justify-content: space-around;
}

.parent{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    background-color: #5793f2;
    margin: 10px;
}

/* 
justify-content --> left to right
align-items --> vertical alignment
align-content ---> vertical positioning
*/


.child{
    background-color: greenyellow;
    text-align: center;
    border: 1px solid black;
    margin: 25px;
    font-size: xx-large;
    padding: 25px;
}

.grid-parent{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #5793f2;
    margin: 10px;
}

.grid-child{
    background-color: greenyellow;
    text-align: center;
    border: 1px solid black;
    margin: 25px;
    font-size: xx-large;
    padding: 25px;
}


.position-wrapper
{
    background-color: #5793f2;
    height: 500px;
    display: block;
}

.position-title{
    position: absolute;
    margin-top: 100px;
    background-color: yellow;
}

.position-title2{
    position: absolute;
    margin-top: 50px;
}


.position-fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    background-color: palegreen;
    font-size: x-large;
    border-radius: 10px;
}

.position-sticky{
    height: 100px;
    position:sticky;
    background-color: blueviolet;
    bottom:0
}

.inherit-wrapper{
    width: 100%;
    background-color: #5793f2;
    height: 500px;
}

.inheirt-child{
    /* width: inherit;
    height: 50px;
    background-color: palegreen; */
    height: 100px;
    background-image: radial-gradient(#c5db37,pink,#37dbd3);
}

td>div{
    width: 150px;
    overflow:hidden;
    text-overflow:ellipsis;
}

td>div:hover{
    width: 100%;
    cursor: pointer;
}
.welcome{
    font-family: Verdana;
    font-size: 10vh    ;
}

@media (max-width:400px){
    .welcome{
        
        font-size: 5vh    ;
    }

    table{
        width: 100px;
    }
}

@media (max-width:200px)
{
    .welcome{
        
        font-size: 2vh;
        color: red;
    }
}

.icon-color{
    /* background-color: #c5db37; */
    color: #c5db37;
}